<!-- container section start -->
<section id="header-fix" id="container" class="" ng-controller="UserHeaderController">
    <!--header start-->
    <header class="header dark-bg">
        <div class="toggle-nav">
            <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"></div>
        </div>

        <a href="#/" class="logo">My <span class="lite">Squad</span></a>

        <div class="nav search-row" id="top_menu">
            <ul class="nav top-menu">
                <li>
                    <form class="navbar-form">
                        <input class="form-control" ng-model="searchTerm" ng-change="searchUsers(searchTerm)" placeholder="Search users" type="text">
                        <div users-search-results ng-if="searchResultsShown"></div>
                    </form>
                </li>
            </ul>
        </div>

        <div class="top-nav notification-row">
            <ul class="nav pull-right top-menu">
                <li id="alert_notificatoin_bar" class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="icon-bell-l"></i>
                        <span data-target="#requests" class="badge bg-important">{{requestsCount}}</span>
                    </a>
                </li>
                <li>
                    <a href="#/users/{{user.username}}" data-toggle="dropdown" class="dropdown-toggle">
                        <span class="profile-ava">
                            <img src="" class="user-image-small" ng-src="{{user.profileImageData}}" alt="{{user.name}}" ng-if="user.profileImageData">
                            <img src="" class="" class="user-image-small" ng-src="{{defaultProfileImageData}}" alt="{{user.name}}" ng-if="!user.profileImageData">
                        </span>
                        <span class="username"><span>{{user.name}}</span></span>
                    </a>
                </li>
                <li>
                    <a href="#/profile">Edit Profile</a>
                </li>
                <li>
                    <a href="#/profile/password">Change Password</a>
                </li>
                <li>
                    <a href="#/logout">Logout</a>
                </li>
            </ul>
        </div>
    </header>
</section>