<body class="login-img3-body">

<div id="heading">My Squad Social Network</div>

<div class="container" id="login-register-container">
    <div id="login-register-forms-box">
        <form class="login-form" action="index.html" id="login-form-box">
            <div class="login-wrap">
                <div class="register-login-message-ask">Already have an account? Login!</div>
                <p class="login-img"><i class="icon_lock_alt"></i></p>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_profile"></i></span>
                    <input type="text" class="form-control" placeholder="Username" autofocus>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                    <input type="password" class="form-control" placeholder="Password">
                </div>
                <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
            </div>
        </form>
        <form class="login-form" action="index.html" id="register-form-box">
            <div class="login-wrap">
                <div class="register-login-message-ask">Don't have an account? Register!</div>
                <p class="login-img"><i class="icon_lock_alt"></i></p>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_profile"></i></span>
                    <input type="text" class="form-control" placeholder="Username" autofocus>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                    <input type="password" class="form-control" placeholder="Password">
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                    <input type="password" class="form-control" placeholder="Confirm Password">
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_profile"></i></span>
                    <input type="text" class="form-control" placeholder="Name" autofocus>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_profile"></i></span>
                    <input type="text" class="form-control" placeholder="Email" autofocus>
                </div>
                <button class="btn btn-info btn-lg btn-block" type="submit">Register</button>
            </div>
        </form>
    </div>
</div>
</body>